/* body */
body {
	margin: 0;
	background-color: #000;
	color: #102020;
	line-height: 1.6em;
	font-family: serif;
}

/* links -- kleuren overgenomen van MediaWiki */
a {
	text-decoration: none;
}
a:link {
	color: #3366BB;
}
a:visited {
	color: #663366;
}
a:active {
	color: #FAA700;
}
a:hover, a:focus {
	text-decoration: underline;
}

/* container */
.container {
	margin: 0 auto;
	max-width: 850px;
}

/* header */
#header {
	z-index: 1;
	position: absolute;
	background: url('../img/header_img.php');
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
}
#header, #footer {
	width: 100%;
	margin: 0;
	color: #b0b0b0;
	background-color: #000;
	font-family: sans-serif;
	font-size: 16px;	
}
#footer {
	position: absolute;
	padding: 0.25em 0;
	font-size: 14px;
	box-shadow: 0px -1px 4px #a31e1b;
	bottom: -35px;
}
@media screen and (min-width: 800px) {
	#header {
		box-shadow: 0px 1px 4px #a31e1b;
	}
}
#header > * {
	position: relative;
	height: 100%;
}
#header #logo {
	position: absolute;
	bottom: 8px;
	left: 20px;
}

#header #logo #collapser {
	position: absolute;
	left: -35px;
}

/* navigator */
#navigator {
	position: absolute;
	height: 42px;
	margin: 0;
	padding: 0;
	font-variant: small-caps;
	right: 10px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.75);
}
#navigator ul {
	list-style: none;
	margin: 0;
}
#navigator ul, #navigator a {
	padding: 8px 0.4em;
}
#navigator li {
	display: inline;
}
#navigator a {
	margin: 0 0.5em;
	border-bottom: solid 3px transparent;
}
#navigator a:link, #navigator a:visited {
	color: #a0a0a0;
	text-decoration: none;
}
#navigator a:hover {
	border-bottom: solid 3px #a31e1b;
	color: #f0f0f0;
}
#navigator a:active {
	color: #f0f0f0;
	text-decoration: underline;
}
#navigator a.active {
	color: #f0f0f0;
	font-weight: bold;
}
@media screen and (min-width: 800px) {
	#navigator {
		right: 10px;
		bottom: 0px;
	}
}
@media screen and (max-width: 800px) {
	#navigator {
		left: 0px;
		right: 0px;
		bottom: -42px;
		box-shadow: 0px 1px 4px #a31e1b;
	}
	#navigator ul {
		background-color: rgba(0, 0, 0, 0.90);
	}
}

/* content */
#content {
	margin: 0 auto;
	padding: 20px 0;
	position: absolute;
	top: 400px;
	width: 100%;
	min-height: 300px;
	background-color: #f0f0f0;
	background-image: url('../img/uiltje.png');
	background-repeat: no-repeat;
	background-position: 100% 0%;
	background-attachment: scroll;
}
@media screen and (max-width: 800px) {
	#content {
		top: 442px;
	}
}

/* content */
#content h1, #content h2 {
	color: #404040;
	font-variant: small-caps;
	font-family: sans-serif;
	margin-bottom: 0;
	padding: 4px 0;
	margin: 0;
}
#content img {
	padding: 4px;
	border: solid 1px #aaa;
	background-color: #f8f8f8;
	box-shadow: 0px 0px 2px #a31e1b;
	margin: 0.25em 0.5em;
}
#content hr {
	background-color: #a31e1b;
	height: 3px;
	width: 5em;
	border: none;
	margin: 8px auto;
}
.right {
	float: right;
}
.left {
	float: left;
}

/* omhoog-scroll knopje */
#footer #scrollUp {
	float: right;
}

/* variex font van het logo */
@font-face {
    font-family: Variex; 
    src: url("Variex.ttf");
}

.email {
	font-family: monospace;
}

/* overmenu */

#overMenu {
	text-align: right;
}

#overMenu a {
	font-variant: small-caps;
	font-family: sans-serif;
	text-transform: lowercase;
	padding: 0 0.4em;
	text-decoration: underline;
	color: #000;
}

#overMenu a:hover {
	text-decoration: none;
	color: #000;
}
#overMenu a.active {
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

/* we willen alle tekst input-veldjes wat cleaner hebben */
input:not([type=submit]):not([type=file]) {
	border: solid 1px #b0b0b0;
	padding: 2px;
	color: #102020;
}

#loginWindow a {
	color: #ddd;
}
