{% extends 'base.twig' %}

{% set title = 'Contact' %}

{% block content %}
<h1>contact</h1>

<dl>
	<dt>Alle vragen en verzoeken kun je richten naar onze secretaris:</dt>
	<dd>{{ email("secretaris@karpenoktem.nl") }}</dd>
</dl>

{% endblock content %}
