{% extends 'base.twig' %}

{# no title defined #}

{% block head %}
{{ parent() }}
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<link rel="stylesheet" type="text/css" href="css/agenda.css" />
<link rel="stylesheet" type="text/css" href="css/index.css" />
<link rel="stylesheet" type="text/css" href="css/nivo-slider.css" />
<link rel="stylesheet" href="css/nivo-slider/default.css" type="text/css" media="screen" />
{% endblock head %}

{% block overMenu %}
{% endblock overMenu %}

{% block content %}
{{ parent() }}

<div id="home-container">
	<div id="random-text">
		<p>
			Welkom op de website van <strong>Alternatieve studentenvereniging Karpe Noktem</strong>.
		</p>

		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider">
				{% for filename in get_slideshow_files() %}
				<img src="img/slideshow/{{filename}}" alt="" />
				{% endfor %}
			</div>
		</div>
		<script type="text/javascript">
			$(window).load(function() {
				$('#slider').nivoSlider({
					effect: 'sliceDown',
					animSpeed: 750,
					pauseTime: 5000,
					pauseOnHover: true,
					prevText: 'vorige',
					nextText: 'volgende',
					directionNav: true,
					randomStart: false
				});
			});
		</script>
	</div>
	<div id="agenda">
		<h1>agenda</h1>
		<ul id="fullagenda">
			<li class="monthSeparator">Juni</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr 14
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Zusjesweekend</span> <span class="datelong">vrijdag 14 juni&mdash;16 juni</span></div>
						<div class="description preview">
							We gaan samen met onze zusjes kamperen op een boerderij in Teteringen! Er zijn slaapplaatsen en er is ruimte voor tenten, maar er zijn maar alleen nog maar reserveplaatsen (met hoge waarschijnlijkheid dat je toch nog mee kunt). Meld je <a href="https://www.karpenoktem.nl/activiteit/bestuur-zusjeskamp2013">hier</a> aan.<br/><br/>Locatie: Teteringen<br/>Kosten: €30,-
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						ma 17
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Borrel</span></div>
						<div class="description preview">
							Het is weer tijd voor de wekelijkse maadagavondborrel!<br/><br/>Vanaf: 21u00<br/>Locatie: Kelder, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						di 18
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Verkiezings-ALV</span></div>
						<div class="description preview">
							Er zal worden gestemd over de bestuursvoordracht voor jaar 10. Zij zullen hun beleidsplan en begroting presenteren.<br/><br/>Vanaf: 20u00<br/>Locatie: Grote zaal, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr 21
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Avondeten (budget)</span></div>
						<div class="description preview">
							Het menu blijft nog even een verrassing, maar je kunt je wel alvast <a href="https://www.karpenoktem.nl/activiteit/avondeten21-06-2013">aanmelden</a>.<br/><br/>Welkom vanaf: 18u30, eten: 19u00<br/>Locatie: Borrelruimte, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a><br/>Kosten: €2,-<br/>Georganiseerd door: CHEF
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr 21
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Drankspellenavond</span></div>
						<div class="description preview">
							Details volgen.<br/><br/>Vanaf: 21u00<br/>Locatie: Borrelruimte, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a><br/>Kosten: €4,-<br/>Georganiseerd door: Spelletjescommissie
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						ma 24
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Borrel</span></div>
						<div class="description preview">
							Een avond vol met muziek, mensen en drank!<br/><br/>Vanaf: 21u00<br/>Locatie: Kelder, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr 28
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Avondeten (deluxe)</span></div>
						<div class="description preview">
							Het menu blijft nog even een verrassing, maar je kunt je wel alvast <a href="https://www.karpenoktem.nl/activiteit/avondeten28-06-2013">aanmelden</a>.<br/><br/>Welkom vanaf: 18u30, eten: 19u00<br/>Locatie: Borrelruimte, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a><br/>Kosten: €4,-<br/>Georganiseerd door: CHEF
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="monthSeparator">Juli</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						ma 1
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Borrel</span></div>
						<div class="description preview">
							Een avond vol met drank, muziek en mensen! En om middernacht kun je voor 50ct een lekkere snack kopen.<br/><br/>Vanaf: 21u00<br/>Locatie: Kelder, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						do<br/>4
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Gemaskerd eindgala</span></div>
						<div class="description preview">
							Het collegejaar zit er alweer bijna op. Dat gaan we natuurlijk vieren met een knallend eindgala. Dus zet je mooiste masker op en feest mee! Meld je <a href="https://www.karpenoktem.nl/activiteit/bestuur-eindgala2013">hier</a> aan en geef het even via het opmerkingenveld door als je een introducé meeneemt. Je mag één introducé meenemen.<br/><br/>Vanaf: 21u30 (tot 2u00)<br/>Locatie: Sfeerhuys de Looimolen<br/>Kosten: €18,50, introducé: €22,50<br/>Georganiseerd door: bestuur en galagroep
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr<br/>5
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Avondeten (budget)</span></div>
						<div class="description preview">
							Het menu blijft nog even een verrassing, maar je kunt je wel alvast <a href="https://www.karpenoktem.nl/activiteit/avondeten05-07-2013">aanmelden</a>.
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

			<li class="item2" onclick="$(this).find('.description').toggleClass('preview');">
				<div class="item2_wrapper">
					<div class="date">
						vr<br/>5
					</div>
					<div class="item2_content">
						<div class="titlebar"><span class="title">Spelletjesavond</span></div>
						<div class="description preview">
							Details volgen, maar er zijn in ieder geval spelletjes!<br/><br/>Vanaf: 20u00<br/>Locatie: Borrelruimte, <a href='https://www.karpenoktem.nl/route'>Villa van Schaeck</a><br/>Georganiseerd door: Spelletjescommissie
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</li>

		</ul>
	</div>
</div>
<div style="clear: both;"></div>

{% endblock content %}
