{% extends 'base.twig' %}

{% set title = 'Lid worden' %}

{% block overMenu %}
{% endblock overMenu %}

{% block content %}
{{ parent() }}

<p>
	Kom eens een keer langs bij een van onze
	<a href="/agenda">activiteiten</a>, bijvoorbeeld de maandagavond
	borrels in de <a href="/route">Villa van Schaeck</a>, of stuur een
	e-mailtje naar {{ email("secretaris@karpenoktem.nl") }} en dan is het
	zo geregeld!
</p>

<h2>uitschrijven</h2>

<p>
	Wil je je uitschrijven? Stuur ook dan een mailtje naar
        {{ email("secretaris@karpenoktem.nl") }}.
</p>

{% endblock content %}
