{% extends 'base.twig' %}

{% set title = 'Lid worden' %}

{% block overMenu %}
{% endblock overMenu %}

{% block content %}
{{ parent() }}

<dl>
	<dt>Als je lid wilt worden kun je altijd een mailtje sturen naar:</dt>
	<dd>{{  email("secretaris@karpenoktem.nl") }}</dd>
</dl>
<p>Je mag ook als je geen lid bent gewoon bij ons langskomen.</p>
{% endblock content %}
